---
import Hovered from "@components/utilities/header/Hovered.astro";
import Secciones from "@src/components/utilities/header/Secciones.tsx";
---

<nav
  class="w-auto h-auto mt-7 flex justify-center items-center text-2xl text-black font-signika"
>
  <Secciones client:load />
  <Hovered />
</nav>
