---
import type { InputField } from "@utils/type-props";

const { type, placeholder, id }: InputField = Astro.props;
---

<div class="form-group">
  <slot />
  <input
    type={type}
    name={id}
    class="form-style"
    placeholder={placeholder}
    id={id}
    autocomplete="off"
  />
</div>
