---
const { title } = Astro.props;
---

<div class="center-wrap card-wrap">
  <div class="relative w-full block text-center">
    <h4 class="mb-5 text-4xl text-white font-Cherry-Bomb">
      {title}
    </h4>
    <slot />
    {
      title === "Log in" && (
        <p class="text-center mt-1 font-bold text-md font-signika">
          <a href="#0" class="text-light-dark hover:text-tertiary">
            ¿Olvidaste tu contraseña?
          </a>
        </p>
      )
    }
  </div>
</div>

<style>
  p {
    line-height: 1.7;
  }

  .center-wrap {
    transform: translate3d(0, -50%, 35px) perspective(100px);
  }
</style>
