---
import DynamicContent from "@src/components/home/elements-JSX/Dynamic-Content.tsx";
---

<div class="w-full h-full flex justify-center items-center">
  <div
    class="w-1/2 h-[60vh] p-5 bg-dark/50 shadow-inner shadow-white/75 rounded-2xl flex flex-col gap-3"
  >
    <DynamicContent client:load />
  </div>
</div>
