---
import DoctorsPhotos from "@public/animated-medic.webp";
---

<div
  class="fixed bottom-0 w-screen h-screen flex justify-center items-center p-5 overflow-hidden opacity-15 blur-md -z-10"
>
  <div class="overflow-hidden size-[140vh] ">
    <img
      src={DoctorsPhotos.src}
      alt="foto de doctores"
      class="image-bg size-full object-center object-cover"
    />
  </div>
</div>

<style>
  .image-bg {
    mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 70%
    );
    -webkit-mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 70%
    );
  }
</style>
